.compatibility-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.image-display {
  max-width: 50%;
  max-height: 50vh;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.score-display {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.pros, .cons {
  width: 45%; /* Splitting the available space between pros and cons */
  list-style: none;
}

h3 {
  text-decoration: underline;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
